.main{
    min-height: 100vh;
}
.body{
    margin-top: 20px;
    width: 100%;
    background-color: #fafafa;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(5,1fr);
    padding: 20px 0px;
}
.img{
    width: 95%;
    grid-column: 1/7;
    grid-row: 1/6;
    align-self: center;
    justify-self: center;
    aspect-ratio: 1/1;
    object-fit: scale-down;
    border-radius: 10px;
}
.title{
    width: 100%;
    grid-column: 8/12;
    grid-row: 1;
    justify-self: center;
    align-self: self-end;
    font-size: 2rem;
    border-bottom: 2px solid #0c0c0c;
    padding-bottom: 20px;
    min-height: 20px;
}
.price{
    width: 100%;
    grid-column: 8/12;
    grid-row: 3;
    align-self: center;
    justify-self: center;
    font-size: 2rem;
    margin: -10px 0;
    border-radius: 10px;
}
.category{
    width: 100%;
    grid-column: 8/12;
    grid-row: 4;
    align-self: self-start;
    justify-self: center;
    font-size: 1.2rem;
    text-decoration: none;
    color: #0c0c0c;
    border-radius: 10px;
}
.category a{
    color: #0c0c0c;
}
.description{
    padding-top: 20px;
    width: 100%;
    grid-column: 8/12;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    font-size: 1.2rem;
    min-height: 50px;
    border-radius: 10px;
}
.whatsappbttn{
    grid-column: 8/12;
    grid-row: 4;
    align-self: end;
    justify-self: start;
    font-size: 1.2rem;
    background-color: #585858;
    color: #fafafa;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    transition: ease .3s;
}
.whatsappbttn:hover{
    background-color: #03b930;
}

@media all and (max-width: 500px){
    .body{
        grid-template-rows: none;}
    .title{
        grid-column: 2/12;
        grid-row: 1;
        font-size: 1.5rem;
        margin-top: none;
    }
    .img{
        grid-column: 2/12;
        grid-row: 2;
        margin: 5px 0px;
    }
    .description{
        grid-column: 2/12;
        grid-row: 3;
        font-size: 1.1rem;
        margin-bottom: 5px;
    }
    .category{
        text-align: center;
        grid-column: 2/12;
        grid-row: 4;
        font-size: .9rem;
    }
    .price{
        width: 100%;
        grid-column: 2/7;
        grid-row: 5;}
    .whatsappbttn{
            grid-column: 7/12;
            grid-row: 5;
        font-size: .7rem;}
}
@media all and (max-width: 800px){
    .title{
        font-size: 1rem;
    }
    .description{
        font-size: .8rem;
    }
    .category{
        font-size: .7rem;
        margin-bottom: 20px;
    }
    .whatsappbttn{
        font-size: .6rem;
    }
}
